# Compiled Object files
*.slo
*.lo
*.o
.vs
*.tlog

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.sbr

*.idb
*.obj
*.pdb
*.ncb
*.pch
*.bsc
*.user

*.dep
*.map

*.log
*.tlog


/bin/*.dll
/bin/*.exe